@if(assignmentTransmis) {
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> {{assignmentTransmis.nom}}</mat-card-title>
          <mat-card-subtitle>Due Date: {{assignmentTransmis.dateDeRendu | date:"d/M/YY"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Subject:</strong> {{assignmentTransmis.subject}}</p>
            <p><strong>Author:</strong> {{assignmentTransmis.author}}</p>
            <p><strong>Grade:</strong> {{assignmentTransmis.grade ? assignmentTransmis.grade : 'Not graded yet'}}</p>
            <p><strong>Remarks:</strong> {{assignmentTransmis.remarks ? assignmentTransmis.remarks : 'No remarks'}}</p>
        </mat-card-content>
        <mat-card-actions class="containerBoutons">
                @if(!assignmentTransmis.rendu) {
                    <mat-checkbox [checked]="assignmentTransmis.rendu"
                            (click)="assignmentRendu()"
                    >
                    Rendu
                    </mat-checkbox>
                }

                    <button mat-raised-button color="primary" [disabled]="!isAdmin()" (click)="editAssignment()">EDIT</button>

                <button mat-raised-button color="primary" [disabled]="!isAdmin()" (click)="onDeleteAssignment()">DELETE</button>
        </mat-card-actions>
      </mat-card>
}
