<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="password">
  </mat-form-field>
  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{ username: username, password: password }">{{ title }}</button>
</div>
