<mat-toolbar color="primary">
  <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
  {{titre}}
  <span class="spacer"></span>
  @if (authService.isLoggedIn()) {
    <span class="toolbar-greeting">Hello, {{ authService.getCurrentUser()?.username }}!</span>
    <button mat-flat-button (click)="onLogout()">Log out</button>
  } @else {
    <button mat-flat-button style="margin-right: 10px;" (click)="openLoginDialog(false)">Log in</button>
    <button mat-flat-button (click)="openLoginDialog(true)">Register</button>
  }
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <mat-list>
      <mat-list-item><button mat-button><mat-icon>home</mat-icon><a routerLink="/home">Home</a></button></mat-list-item>
      <mat-list-item><button mat-button><mat-icon>add_circle</mat-icon><a routerLink="/add">Add Assignment</a></button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button (click)="genererDonneesDeTest()">Generate Test Data</button></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

